# Better Auth Configuration
BETTER_AUTH_SECRET=your-secret-key-minimum-32-characters-generated-with-openssl-rand-base64-32
BETTER_AUTH_URL=http://localhost:3000

# Database URL (PostgreSQL)
DATABASE_URL=postgresql://user:password@host:port/database

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

#Embedding
EMBEDDING_PROVIDER=qwen or openai based on production or dev
LOCAL_EMBEDDING_BASE_URL=http://localhost:1234/v1
OPENAI_API_KEY=add-value  //take api key from

#cron
CRON_SECRET=anykey 